<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionString="" applicationName="Sonar2PBI" />
  </elmah>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <appSettings>
    
    <add key="SonarServerURL" value="https://sonar.your-domain.com"></add>
    <add key="SonarServerToken" value="your-sonerqube-token-here"></add>
    <add key="AzureDevopsToken" value="you-can-set-your-azuredevops-api-pat-for-debugging"></add>
    <add key="SmtpServer" value="email.your-domain.com"></add>
    <add key="FromAdress" value="Sonar2PBI noreply@your-domain.com.tr"></add>
    <add key="ToAdress" value="serkan.apul@your-domain.com.tr"></add>
    <add key="SubjectPrefix" value="YG-KALITE Sonar2PBI"></add>
    <add key="TitlePrefix" value="[Sonar2PBI]"></add>
    <add key="Company" value="BİMAR BİLGİ İŞLEM HİZMETLERİ A.Ş."></add>
    <add key="DescriptionIssueSonarLink" value="Sonarqube Portal içinde Görüntüle"></add>
  </appSettings>
  
  <connectionStrings>
    <add name="KAPConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>